@import './variables'
.root
    margin-left: auto
    margin-right: auto

    display: grid

    color: $grey
    font-size: 1rem
    align-items: center

.textWrapper
    margin: 2rem 0px
    position: relative
    padding-left: 40px
    max-width: 20rem

// .images
//     &.entered
//         animation: showIcon 1s forwards
//     &.entering
//         animation: showIcon 1s forwards

// .textWrapper
//     &.entered
//         animation: showText 1s forwards
//     &.entering
//         animation: showText 1s forwards

.textWrapper::before
    content: ""
    position: absolute
    width: 3px
    height: 100%
    top: 0
    left: 20px
    background-color: $orange

.icons
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

@media screen and (min-width: 960px)
    .root
        grid-template-columns: 1fr minmax(150px, 2fr)
        grid-template-rows: 250px
@media screen and (min-width: 768px) and (max-width: 960px)
    .root
        grid-template: auto auto / 1fr
@media screen and (max-width: 767px)
    .root
        grid-template: auto auto / 1fr
    .icons
        img
            width: 30px
            height: auto

    //     &.entered
//         animation: showIcon 1s forwards
//     &.entering
//         animation: showIcon 1s forwards

// @keyframes showIcon
//     0%
//         opacity: 0
//         width: 0px
//         hight: 0px
//     100%
//         opacity: 1
// @keyframes showText
//     0%
//         transform: translateX(-30vw)
